.editBtn{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #007bff; */
}

.editBtn:hover {
  background-color: #4f7899dc;
  color: white;
}

.div_error {
  color: #b84a47;
  width: 340px;
}

.div_error p {
  font-size: 14px;
}

.editIcon {
  padding: 0;
  margin: 0;
  height: 1.2rem;
  width: 1.2rem;
}
